<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <import resource="motherboard_context.xml"/>
    <import resource="cpu_context.xml"/>
    <import resource="graphics_context.xml"/>
    <import resource="ram_context.xml"/>
    <import resource="storage_context.xml"/>

    <bean id="myPC" class="com.dmitry.tkachenko.spring.computer.DellAlienwarePC"
          init-method="initObj"
          destroy-method="destroyObj">

        <constructor-arg ref="gigabyte"/>
        <constructor-arg ref="athlon"/>
        <constructor-arg ref="radeon"/>
        <constructor-arg ref="ddr4"/>
        <constructor-arg ref="westernDigital"/>

        <!--change motherboard to asus-->
        <property name="motherboard" ref="asus"/>
    </bean>
</beans>